{
  "openapi": "3.0.2",
  "info": {
    "title": "NewsCatcher-V3 Production API",
    "description": "<img src='https://uploads-ssl.webflow.com/6429857b17973b636c2195c5/646c6f1eb774ff2f2997bec5_newscatcher_.svg' width='286' height='35' /> <br>  <br>Visit our website  <a href='https://newscatcherapi.com'>https://newscatcherapi.com</a>",
    "version": "3.2.16",
    "termsOfService": "https://newscatcherapi.com/terms-of-service",
    "contact": {
      "name": "Maksym Sugonyaka",
      "email": "maksym@newscatcherapi.com"
    }
  },
  "servers": [
    {
      "url": "https://v3-api.newscatcherapi.com/"
    }
  ],
  "tags": [
    {
      "name": "Search"
    },
    {
      "name": "LatestHeadlines"
    },
    {
      "name": "Authors"
    },
    {
      "name": "SearchLink"
    },
    {
      "name": "SearchSimilar"
    },
    {
      "name": "Sources"
    },
    {
      "name": "Subscription"
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "[Get] Search For Articles Request",
        "operationId": "Search_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to search for articles. You can search for articles by keyword, language, country, source, and more.",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Q",
              "type": "string"
            },
            "name": "q",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Search In",
              "type": "string",
              "default": "title_content"
            },
            "name": "search_in",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Predefined Sources"
            },
            "name": "predefined_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sources"
            },
            "name": "sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Sources"
            },
            "name": "not_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Lang"
            },
            "name": "lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Lang"
            },
            "name": "not_lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Countries"
            },
            "name": "countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Countries"
            },
            "name": "not_countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Author Name"
            },
            "name": "not_author_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From ",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            },
            "name": "from_",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To ",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            },
            "name": "to_",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Published Date Precision",
              "type": "string"
            },
            "name": "published_date_precision",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "By Parse Date",
              "type": "boolean",
              "default": false
            },
            "name": "by_parse_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sort By",
              "type": "string",
              "default": "relevancy"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Ranked Only",
              "type": "string"
            },
            "name": "ranked_only",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From Rank",
              "type": "integer"
            },
            "name": "from_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To Rank",
              "type": "integer"
            },
            "name": "to_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Headline",
              "type": "boolean"
            },
            "name": "is_headline",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Paid Content",
              "type": "boolean"
            },
            "name": "is_paid_content",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Parent Url"
            },
            "name": "parent_url",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Links"
            },
            "name": "all_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Domain Links"
            },
            "name": "all_domain_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Min",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Max",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "minimum": 0,
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page Size",
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "name": "page_size",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Clustering Variable",
              "type": "string"
            },
            "name": "clustering_variable",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Clustering Enabled",
              "type": "boolean"
            },
            "name": "clustering_enabled",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Clustering Threshold",
              "type": "number"
            },
            "name": "clustering_threshold",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Include Nlp Data",
              "type": "boolean"
            },
            "name": "include_nlp_data",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Nlp",
              "type": "boolean"
            },
            "name": "has_nlp",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Theme",
              "type": "string"
            },
            "name": "theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Theme",
              "type": "string"
            },
            "name": "not_theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Org Entity Name",
              "type": "string"
            },
            "name": "ORG_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Entity Name",
              "type": "string"
            },
            "name": "PER_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Loc Entity Name",
              "type": "string"
            },
            "name": "LOC_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Misc Entity Name",
              "type": "string"
            },
            "name": "MISC_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Min",
              "type": "number"
            },
            "name": "title_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Max",
              "type": "number"
            },
            "name": "title_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Min",
              "type": "number"
            },
            "name": "content_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Max",
              "type": "number"
            },
            "name": "content_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Iptc Tags"
            },
            "name": "iptc_tags",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Iptc Tags"
            },
            "name": "not_iptc_tags",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Source Name"
            },
            "name": "source_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Iab Tags"
            },
            "name": "iab_tags",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "[Post] Search For Articles Request",
        "operationId": "Search_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to search for articles. You can search for articles by keyword, language, country, source, and more.",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPostResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/latest_headlines": {
      "get": {
        "tags": [
          "LatestHeadlines"
        ],
        "summary": "[Get] Search For Latest Headlines Request",
        "operationId": "LatestHeadlines_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to get latest headlines. You need to specify since when you want to get the latest headlines. You can also filter by language, country, source, and more.",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "When",
              "type": "string",
              "default": "7d"
            },
            "name": "when",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "By Parse Date",
              "type": "boolean",
              "default": false
            },
            "name": "by_parse_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Lang"
            },
            "name": "lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Lang"
            },
            "name": "not_lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Countries"
            },
            "name": "countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Countries"
            },
            "name": "not_countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sources"
            },
            "name": "sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Predefined Sources"
            },
            "name": "predefined_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Sources"
            },
            "name": "not_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Author Name"
            },
            "name": "not_author_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Ranked Only",
              "type": "string"
            },
            "name": "ranked_only",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Headline",
              "type": "boolean"
            },
            "name": "is_headline",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Paid Content",
              "type": "boolean"
            },
            "name": "is_paid_content",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Parent Url"
            },
            "name": "parent_url",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Links"
            },
            "name": "all_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Domain Links"
            },
            "name": "all_domain_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Min",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Max",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "minimum": 0,
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page Size",
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "name": "page_size",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Clustering Variable",
              "type": "string"
            },
            "name": "clustering_variable",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Clustering Enabled",
              "type": "boolean"
            },
            "name": "clustering_enabled",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Clustering Threshold",
              "type": "number"
            },
            "name": "clustering_threshold",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Include Nlp Data",
              "type": "boolean"
            },
            "name": "include_nlp_data",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Nlp",
              "type": "boolean"
            },
            "name": "has_nlp",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Theme",
              "type": "string"
            },
            "name": "theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Theme",
              "type": "string"
            },
            "name": "not_theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Org Entity Name",
              "type": "string"
            },
            "name": "ORG_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Per Entity Name",
              "type": "string"
            },
            "name": "PER_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Loc Entity Name",
              "type": "string"
            },
            "name": "LOC_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Misc Entity Name",
              "type": "string"
            },
            "name": "MISC_entity_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Min",
              "type": "number"
            },
            "name": "title_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Max",
              "type": "number"
            },
            "name": "title_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Min",
              "type": "number"
            },
            "name": "content_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Max",
              "type": "number"
            },
            "name": "content_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Iptc Tags"
            },
            "name": "iptc_tags",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Iptc Tags"
            },
            "name": "not_iptc_tags",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestHeadlinesGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "LatestHeadlines"
        ],
        "summary": "[Post] Search For Latest Headlines Request",
        "operationId": "LatestHeadlines_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to get latest headlines. You need to specify since when you want to get the latest headlines. You can also filter by language, country, source, and more.",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LatestHeadlinesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestHeadlinesPostResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/authors": {
      "get": {
        "tags": [
          "Authors"
        ],
        "summary": "[Get] Search By Author Request",
        "operationId": "Authors_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to search for articles by author. You need to specify the author name. You can also filter by language, country, source, and more.",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Author Name",
              "type": "string"
            },
            "name": "author_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Author Name",
              "type": "string"
            },
            "name": "not_author_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sources"
            },
            "name": "sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Predefined Sources"
            },
            "name": "predefined_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Sources"
            },
            "name": "not_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Lang"
            },
            "name": "lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Lang"
            },
            "name": "not_lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Countries"
            },
            "name": "countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Countries"
            },
            "name": "not_countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From ",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            },
            "name": "from_",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To ",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            },
            "name": "to_",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Published Date Precision",
              "type": "string"
            },
            "name": "published_date_precision",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "By Parse Date",
              "type": "boolean",
              "default": false
            },
            "name": "by_parse_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sort By",
              "type": "string",
              "default": "relevancy"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Ranked Only",
              "type": "string"
            },
            "name": "ranked_only",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From Rank",
              "type": "integer"
            },
            "name": "from_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To Rank",
              "type": "integer"
            },
            "name": "to_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Headline",
              "type": "boolean"
            },
            "name": "is_headline",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Paid Content",
              "type": "boolean"
            },
            "name": "is_paid_content",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Parent Url"
            },
            "name": "parent_url",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Links"
            },
            "name": "all_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Domain Links"
            },
            "name": "all_domain_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Min",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Max",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "minimum": 0,
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page Size",
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "name": "page_size",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Include Nlp Data",
              "type": "boolean"
            },
            "name": "include_nlp_data",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Nlp",
              "type": "boolean"
            },
            "name": "has_nlp",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Theme",
              "type": "string"
            },
            "name": "theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Theme",
              "type": "string"
            },
            "name": "not_theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Ner Name",
              "type": "string"
            },
            "name": "ner_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Min",
              "type": "number"
            },
            "name": "title_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Max",
              "type": "number"
            },
            "name": "title_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Min",
              "type": "number"
            },
            "name": "content_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Max",
              "type": "number"
            },
            "name": "content_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Iptc Tags"
            },
            "name": "iptc_tags",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Iptc Tags"
            },
            "name": "not_iptc_tags",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorsGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Authors"
        ],
        "summary": "[Post] Search By Author Request",
        "operationId": "Authors_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to search for articles by author. You need to specify the author name. You can also filter by language, country, source, and more.",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorsPostResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/search_by_link": {
      "get": {
        "tags": [
          "SearchLink"
        ],
        "summary": "[Get] Search For Articles By Id Or Link",
        "operationId": "SearchLink_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to search for articles. You can search for articles by id(s) or link(s).",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Ids"
            },
            "name": "ids",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Links"
            },
            "name": "links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "minimum": 0,
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page Size",
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto__responses__SearchResponse__SearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SearchLink"
        ],
        "summary": "[Post] Search For Articles Request",
        "operationId": "SearchLink_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to search for articles. You can search for articles by id(s) or link(s).",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchURLRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto__responses__SearchResponse__SearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/search_similar": {
      "get": {
        "tags": [
          "SearchSimilar"
        ],
        "summary": "[Get] Search For Similar Articles Request",
        "operationId": "SearchSimilar_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint returns a list of articles that are similar to the query provided. You also have the option to get similar articles for the results of a search.",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Q",
              "type": "string"
            },
            "name": "q",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Search In",
              "type": "string",
              "default": "title_content"
            },
            "name": "search_in",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Include Similar Documents",
              "type": "boolean",
              "default": false
            },
            "name": "include_similar_documents",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Similar Documents Number",
              "minimum": 0,
              "type": "integer",
              "default": 5
            },
            "name": "similar_documents_number",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Similar Documents Fields",
              "type": "string",
              "default": "title,content"
            },
            "name": "similar_documents_fields",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Predefined Sources"
            },
            "name": "predefined_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sources"
            },
            "name": "sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Sources"
            },
            "name": "not_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Lang"
            },
            "name": "lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Lang"
            },
            "name": "not_lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Countries"
            },
            "name": "countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Countries"
            },
            "name": "not_countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From ",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            },
            "name": "from_",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To ",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            },
            "name": "to_",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "By Parse Date",
              "type": "boolean",
              "default": false
            },
            "name": "by_parse_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Published Date Precision",
              "type": "string"
            },
            "name": "published_date_precision",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sort By",
              "type": "string",
              "default": "relevancy"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Ranked Only",
              "type": "string"
            },
            "name": "ranked_only",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From Rank",
              "type": "integer"
            },
            "name": "from_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To Rank",
              "type": "integer"
            },
            "name": "to_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Headline",
              "type": "boolean"
            },
            "name": "is_headline",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Is Paid Content",
              "type": "boolean"
            },
            "name": "is_paid_content",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Parent Url"
            },
            "name": "parent_url",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Links"
            },
            "name": "all_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "All Domain Links"
            },
            "name": "all_domain_links",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Min",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Word Count Max",
              "minimum": 0,
              "type": "integer"
            },
            "name": "word_count_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "minimum": 0,
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page Size",
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "name": "page_size",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Include Nlp Data",
              "type": "boolean"
            },
            "name": "include_nlp_data",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Has Nlp",
              "type": "boolean"
            },
            "name": "has_nlp",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Theme",
              "type": "string"
            },
            "name": "theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Theme",
              "type": "string"
            },
            "name": "not_theme",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Ner Name",
              "type": "string"
            },
            "name": "ner_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Min",
              "type": "number"
            },
            "name": "title_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Title Sentiment Max",
              "type": "number"
            },
            "name": "title_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Min",
              "type": "number"
            },
            "name": "content_sentiment_min",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Content Sentiment Max",
              "type": "number"
            },
            "name": "content_sentiment_max",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Iptc Tags"
            },
            "name": "iptc_tags",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Not Iptc Tags"
            },
            "name": "not_iptc_tags",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSimilarGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SearchSimilar"
        ],
        "summary": "[Post] Search For Similar Articles Request",
        "operationId": "SearchSimilar_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint returns a list of articles that are similar to the query provided. You also have the option to get similar articles for the results of a search.",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoreLikeThisRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSimilarPostResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/sources": {
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "[Get] Search For Sources Request",
        "operationId": "Sources_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to get the list of sources that are available in the database. You can filter the sources by language and country. The maximum number of sources displayed is set according to your plan. You can find the list of plans and their features here: https://newscatcherapi.com/news-api#news-api-pricing",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Lang",
              "type": "string"
            },
            "name": "lang",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Countries",
              "type": "string"
            },
            "name": "countries",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Predefined Sources",
              "type": "string"
            },
            "name": "predefined_sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Include Additional Info",
              "type": "boolean"
            },
            "name": "include_additional_info",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "From Rank",
              "type": "integer"
            },
            "name": "from_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "To Rank",
              "type": "integer"
            },
            "name": "to_rank",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Source Name"
            },
            "name": "source_name",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Source Url",
              "type": "string"
            },
            "name": "source_url",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "[Post] Search For Sources Request",
        "operationId": "Sources_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to get the list of sources that are available in the database. You can filter the sources by language and country. The maximum number of sources displayed is set according to your plan. You can find the list of plans and their features here: https://newscatcherapi.com/news-api#news-api-pricing",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "summary": "[Get] Get My Plan Info",
        "operationId": "Subscription_get",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to get info about your subscription plan.",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "[Post] Get My Plan Info",
        "operationId": "Subscription_post",
        "security": [
          {
            "apiKey": [
            ]
          }
        ],
        "description": "This endpoint allows you to get info about your subscription plan.",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionalSourceInfo": {
        "title": "AdditionalSourceInfo",
        "type": "object",
        "properties": {
          "nb_articles_for_7d": {
            "title": "Nb Articles For 7D",
            "type": "integer"
          },
          "country": {
            "title": "Country",
            "type": "string"
          },
          "rank": {
            "title": "Rank",
            "type": "integer"
          }
        }
      },
      "AuthorSearchRequest": {
        "title": "AuthorSearchRequest",
        "required": [
          "author_name"
        ],
        "type": "object",
        "properties": {
          "author_name": {
            "title": "Author Name",
            "type": "string"
          },
          "not_author_name": {
            "title": "Not Author Name",
            "type": "string"
          },
          "sources": {
            "title": "Sources"
          },
          "predefined_sources": {
            "title": "Predefined Sources"
          },
          "not_sources": {
            "title": "Not Sources"
          },
          "lang": {
            "title": "Lang"
          },
          "not_lang": {
            "title": "Not Lang"
          },
          "countries": {
            "title": "Countries"
          },
          "not_countries": {
            "title": "Not Countries"
          },
          "from_": {
            "title": "From ",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "to_": {
            "title": "To ",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "published_date_precision": {
            "title": "Published Date Precision",
            "type": "string"
          },
          "by_parse_date": {
            "title": "By Parse Date",
            "type": "boolean",
            "default": false
          },
          "sort_by": {
            "title": "Sort By",
            "type": "string",
            "default": "relevancy"
          },
          "ranked_only": {
            "title": "Ranked Only",
            "type": "string"
          },
          "from_rank": {
            "title": "From Rank",
            "type": "integer"
          },
          "to_rank": {
            "title": "To Rank",
            "type": "integer"
          },
          "is_headline": {
            "title": "Is Headline",
            "type": "boolean"
          },
          "is_paid_content": {
            "title": "Is Paid Content",
            "type": "boolean"
          },
          "parent_url": {
            "title": "Parent Url"
          },
          "all_links": {
            "title": "All Links"
          },
          "all_domain_links": {
            "title": "All Domain Links"
          },
          "word_count_min": {
            "title": "Word Count Min",
            "minimum": 0,
            "type": "integer"
          },
          "word_count_max": {
            "title": "Word Count Max",
            "minimum": 0,
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "minimum": 0,
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "title": "Page Size",
            "minimum": 0,
            "type": "integer",
            "default": 100
          },
          "include_nlp_data": {
            "title": "Include Nlp Data",
            "type": "boolean"
          },
          "has_nlp": {
            "title": "Has Nlp",
            "type": "boolean"
          },
          "theme": {
            "title": "Theme",
            "type": "string"
          },
          "not_theme": {
            "title": "Not Theme",
            "type": "string"
          },
          "ner_name": {
            "title": "Ner Name",
            "type": "string"
          },
          "title_sentiment_min": {
            "title": "Title Sentiment Min",
            "type": "number"
          },
          "title_sentiment_max": {
            "title": "Title Sentiment Max",
            "type": "number"
          },
          "content_sentiment_min": {
            "title": "Content Sentiment Min",
            "type": "number"
          },
          "content_sentiment_max": {
            "title": "Content Sentiment Max",
            "type": "number"
          },
          "iptc_tags": {
            "title": "Iptc Tags"
          },
          "not_iptc_tags": {
            "title": "Not Iptc Tags"
          }
        }
      },
      "Cluster": {
        "title": "Cluster",
        "required": [
          "cluster_id",
          "cluster_size",
          "articles"
        ],
        "type": "object",
        "properties": {
          "cluster_id": {
            "title": "Cluster Id",
            "type": "string"
          },
          "cluster_size": {
            "title": "Cluster Size",
            "type": "integer"
          },
          "articles": {
            "title": "Articles",
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ClusteringSearchResponse": {
        "title": "ClusteringSearchResponse",
        "required": [
          "total_hits",
          "page",
          "total_pages",
          "page_size",
          "clusters_count",
          "clusters",
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "ok"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "type": "integer"
          },
          "total_pages": {
            "title": "Total Pages",
            "type": "integer"
          },
          "page_size": {
            "title": "Page Size",
            "type": "integer"
          },
          "clusters_count": {
            "title": "Clusters Count",
            "type": "integer"
          },
          "clusters": {
            "title": "Clusters",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "HTTPValidationError": {
        "title": "HTTPValidationError",
        "type": "object",
        "properties": {
          "detail": {
            "title": "Detail",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "LatestHeadlinesRequest": {
        "title": "LatestHeadlinesRequest",
        "type": "object",
        "properties": {
          "when": {
            "title": "When",
            "type": "string",
            "default": "7d"
          },
          "by_parse_date": {
            "title": "By Parse Date",
            "type": "boolean",
            "default": false
          },
          "lang": {
            "title": "Lang"
          },
          "not_lang": {
            "title": "Not Lang"
          },
          "countries": {
            "title": "Countries"
          },
          "not_countries": {
            "title": "Not Countries"
          },
          "sources": {
            "title": "Sources"
          },
          "predefined_sources": {
            "title": "Predefined Sources"
          },
          "not_sources": {
            "title": "Not Sources"
          },
          "not_author_name": {
            "title": "Not Author Name"
          },
          "ranked_only": {
            "title": "Ranked Only",
            "type": "string"
          },
          "is_headline": {
            "title": "Is Headline",
            "type": "boolean"
          },
          "is_paid_content": {
            "title": "Is Paid Content",
            "type": "boolean"
          },
          "parent_url": {
            "title": "Parent Url"
          },
          "all_links": {
            "title": "All Links"
          },
          "all_domain_links": {
            "title": "All Domain Links"
          },
          "word_count_min": {
            "title": "Word Count Min",
            "minimum": 0,
            "type": "integer"
          },
          "word_count_max": {
            "title": "Word Count Max",
            "minimum": 0,
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "minimum": 0,
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "title": "Page Size",
            "minimum": 0,
            "type": "integer",
            "default": 100
          },
          "clustering_variable": {
            "title": "Clustering Variable",
            "type": "string"
          },
          "clustering_enabled": {
            "title": "Clustering Enabled",
            "type": "boolean"
          },
          "clustering_threshold": {
            "title": "Clustering Threshold",
            "type": "number"
          },
          "include_nlp_data": {
            "title": "Include Nlp Data",
            "type": "boolean"
          },
          "has_nlp": {
            "title": "Has Nlp",
            "type": "boolean"
          },
          "theme": {
            "title": "Theme",
            "type": "string"
          },
          "not_theme": {
            "title": "Not Theme",
            "type": "string"
          },
          "ORG_entity_name": {
            "title": "Org Entity Name",
            "type": "string"
          },
          "PER_entity_name": {
            "title": "Per Entity Name",
            "type": "string"
          },
          "LOC_entity_name": {
            "title": "Loc Entity Name",
            "type": "string"
          },
          "MISC_entity_name": {
            "title": "Misc Entity Name",
            "type": "string"
          },
          "title_sentiment_min": {
            "title": "Title Sentiment Min",
            "type": "number"
          },
          "title_sentiment_max": {
            "title": "Title Sentiment Max",
            "type": "number"
          },
          "content_sentiment_min": {
            "title": "Content Sentiment Min",
            "type": "number"
          },
          "content_sentiment_max": {
            "title": "Content Sentiment Max",
            "type": "number"
          },
          "iptc_tags": {
            "title": "Iptc Tags"
          },
          "not_iptc_tags": {
            "title": "Not Iptc Tags"
          }
        }
      },
      "LatestHeadlinesResponse": {
        "title": "LatestHeadlinesResponse",
        "required": [
          "total_hits",
          "page",
          "total_pages",
          "page_size",
          "articles",
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "ok"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "type": "integer"
          },
          "total_pages": {
            "title": "Total Pages",
            "type": "integer"
          },
          "page_size": {
            "title": "Page Size",
            "type": "integer"
          },
          "articles": {
            "title": "Articles",
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "MoreLikeThisRequest": {
        "title": "MoreLikeThisRequest",
        "required": [
          "q"
        ],
        "type": "object",
        "properties": {
          "q": {
            "title": "Q",
            "type": "string"
          },
          "search_in": {
            "title": "Search In",
            "type": "string",
            "default": "title_content"
          },
          "include_similar_documents": {
            "title": "Include Similar Documents",
            "type": "boolean",
            "default": false
          },
          "similar_documents_number": {
            "title": "Similar Documents Number",
            "minimum": 0,
            "type": "integer",
            "default": 5
          },
          "similar_documents_fields": {
            "title": "Similar Documents Fields",
            "type": "string",
            "default": "title,content"
          },
          "predefined_sources": {
            "title": "Predefined Sources"
          },
          "sources": {
            "title": "Sources"
          },
          "not_sources": {
            "title": "Not Sources"
          },
          "lang": {
            "title": "Lang"
          },
          "not_lang": {
            "title": "Not Lang"
          },
          "countries": {
            "title": "Countries"
          },
          "not_countries": {
            "title": "Not Countries"
          },
          "from_": {
            "title": "From ",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "to_": {
            "title": "To ",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "by_parse_date": {
            "title": "By Parse Date",
            "type": "boolean",
            "default": false
          },
          "published_date_precision": {
            "title": "Published Date Precision",
            "type": "string"
          },
          "sort_by": {
            "title": "Sort By",
            "type": "string",
            "default": "relevancy"
          },
          "ranked_only": {
            "title": "Ranked Only",
            "type": "string"
          },
          "from_rank": {
            "title": "From Rank",
            "type": "integer"
          },
          "to_rank": {
            "title": "To Rank",
            "type": "integer"
          },
          "is_headline": {
            "title": "Is Headline",
            "type": "boolean"
          },
          "is_paid_content": {
            "title": "Is Paid Content",
            "type": "boolean"
          },
          "parent_url": {
            "title": "Parent Url"
          },
          "all_links": {
            "title": "All Links"
          },
          "all_domain_links": {
            "title": "All Domain Links"
          },
          "word_count_min": {
            "title": "Word Count Min",
            "minimum": 0,
            "type": "integer"
          },
          "word_count_max": {
            "title": "Word Count Max",
            "minimum": 0,
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "minimum": 0,
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "title": "Page Size",
            "minimum": 0,
            "type": "integer",
            "default": 100
          },
          "include_nlp_data": {
            "title": "Include Nlp Data",
            "type": "boolean"
          },
          "has_nlp": {
            "title": "Has Nlp",
            "type": "boolean"
          },
          "theme": {
            "title": "Theme",
            "type": "string"
          },
          "not_theme": {
            "title": "Not Theme",
            "type": "string"
          },
          "ner_name": {
            "title": "Ner Name",
            "type": "string"
          },
          "title_sentiment_min": {
            "title": "Title Sentiment Min",
            "type": "number"
          },
          "title_sentiment_max": {
            "title": "Title Sentiment Max",
            "type": "number"
          },
          "content_sentiment_min": {
            "title": "Content Sentiment Min",
            "type": "number"
          },
          "content_sentiment_max": {
            "title": "Content Sentiment Max",
            "type": "number"
          },
          "iptc_tags": {
            "title": "Iptc Tags"
          },
          "not_iptc_tags": {
            "title": "Not Iptc Tags"
          }
        }
      },
      "SearchRequest": {
        "title": "SearchRequest",
        "required": [
          "q"
        ],
        "type": "object",
        "properties": {
          "q": {
            "title": "Q",
            "type": "string"
          },
          "search_in": {
            "title": "Search In",
            "type": "string",
            "default": "title_content"
          },
          "predefined_sources": {
            "title": "Predefined Sources"
          },
          "sources": {
            "title": "Sources"
          },
          "not_sources": {
            "title": "Not Sources"
          },
          "lang": {
            "title": "Lang"
          },
          "not_lang": {
            "title": "Not Lang"
          },
          "countries": {
            "title": "Countries"
          },
          "not_countries": {
            "title": "Not Countries"
          },
          "not_author_name": {
            "title": "Not Author Name"
          },
          "from_": {
            "title": "From ",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "to_": {
            "title": "To ",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "published_date_precision": {
            "title": "Published Date Precision",
            "type": "string"
          },
          "by_parse_date": {
            "title": "By Parse Date",
            "type": "boolean",
            "default": false
          },
          "sort_by": {
            "title": "Sort By",
            "type": "string",
            "default": "relevancy"
          },
          "ranked_only": {
            "title": "Ranked Only",
            "type": "string"
          },
          "from_rank": {
            "title": "From Rank",
            "type": "integer"
          },
          "to_rank": {
            "title": "To Rank",
            "type": "integer"
          },
          "is_headline": {
            "title": "Is Headline",
            "type": "boolean"
          },
          "is_paid_content": {
            "title": "Is Paid Content",
            "type": "boolean"
          },
          "parent_url": {
            "title": "Parent Url"
          },
          "all_links": {
            "title": "All Links"
          },
          "all_domain_links": {
            "title": "All Domain Links"
          },
          "word_count_min": {
            "title": "Word Count Min",
            "minimum": 0,
            "type": "integer"
          },
          "word_count_max": {
            "title": "Word Count Max",
            "minimum": 0,
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "minimum": 0,
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "title": "Page Size",
            "minimum": 0,
            "type": "integer",
            "default": 100
          },
          "clustering_variable": {
            "title": "Clustering Variable",
            "type": "string"
          },
          "clustering_enabled": {
            "title": "Clustering Enabled",
            "type": "boolean"
          },
          "clustering_threshold": {
            "title": "Clustering Threshold",
            "type": "number"
          },
          "include_nlp_data": {
            "title": "Include Nlp Data",
            "type": "boolean"
          },
          "has_nlp": {
            "title": "Has Nlp",
            "type": "boolean"
          },
          "theme": {
            "title": "Theme",
            "type": "string"
          },
          "not_theme": {
            "title": "Not Theme",
            "type": "string"
          },
          "ORG_entity_name": {
            "title": "Org Entity Name",
            "type": "string"
          },
          "PER_entity_name": {
            "title": "Per Entity Name",
            "type": "string"
          },
          "LOC_entity_name": {
            "title": "Loc Entity Name",
            "type": "string"
          },
          "MISC_entity_name": {
            "title": "Misc Entity Name",
            "type": "string"
          },
          "title_sentiment_min": {
            "title": "Title Sentiment Min",
            "type": "number"
          },
          "title_sentiment_max": {
            "title": "Title Sentiment Max",
            "type": "number"
          },
          "content_sentiment_min": {
            "title": "Content Sentiment Min",
            "type": "number"
          },
          "content_sentiment_max": {
            "title": "Content Sentiment Max",
            "type": "number"
          },
          "iptc_tags": {
            "title": "Iptc Tags"
          },
          "not_iptc_tags": {
            "title": "Not Iptc Tags"
          },
          "source_name": {
            "title": "Source Name"
          },
          "iab_tags": {
            "title": "Iab Tags"
          }
        }
      },
      "SearchURLRequest": {
        "title": "SearchURLRequest",
        "type": "object",
        "properties": {
          "ids": {
            "title": "Ids"
          },
          "links": {
            "title": "Links"
          },
          "page": {
            "title": "Page",
            "minimum": 0,
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "title": "Page Size",
            "minimum": 0,
            "type": "integer",
            "default": 100
          }
        }
      },
      "SimilarDocument": {
        "title": "SimilarDocument",
        "required": [
          "id",
          "score",
          "title",
          "link"
        ],
        "type": "object",
        "properties": {
          "title": {
            "title": "Title",
            "type": "string"
          },
          "id": {
            "title": "Id",
            "type": "string"
          },
          "score": {
            "title": "Score",
            "type": "number"
          },
          "link": {
            "title": "Link",
            "type": "string"
          }
        }
      },
      "SourceInfo": {
        "title": "SourceInfo",
        "required": [
          "domain_url"
        ],
        "type": "object",
        "properties": {
          "name_source": {
            "title": "Name Source",
            "type": "string"
          },
          "domain_url": {
            "title": "Domain Url",
            "type": "string"
          },
          "logo": {
            "title": "Logo",
            "type": "string"
          },
          "additional_info": {
            "$ref": "#/components/schemas/AdditionalSourceInfo"
          }
        }
      },
      "SourceResponse": {
        "title": "SourceResponse",
        "required": [
          "message",
          "sources",
          "user_input"
        ],
        "type": "object",
        "properties": {
          "message": {
            "title": "Message",
            "type": "string"
          },
          "sources": {
            "title": "Sources",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SourceInfo"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "SourcesRequest": {
        "title": "SourcesRequest",
        "type": "object",
        "properties": {
          "lang": {
            "title": "Lang",
            "type": "string"
          },
          "countries": {
            "title": "Countries",
            "type": "string"
          },
          "predefined_sources": {
            "title": "Predefined Sources",
            "type": "string"
          },
          "include_additional_info": {
            "title": "Include Additional Info",
            "type": "boolean"
          },
          "from_rank": {
            "title": "From Rank",
            "type": "integer"
          },
          "to_rank": {
            "title": "To Rank",
            "type": "integer"
          },
          "source_name": {
            "title": "Source Name"
          },
          "source_url": {
            "title": "Source Url",
            "type": "string"
          }
        }
      },
      "SubscriptionResponse": {
        "title": "SubscriptionResponse",
        "required": [
          "active",
          "plan_name"
        ],
        "type": "object",
        "properties": {
          "active": {
            "title": "Active",
            "type": "boolean"
          },
          "calls_per_seconds": {
            "title": "Calls Per Seconds",
            "type": "integer"
          },
          "plan_name": {
            "title": "Plan Name",
            "type": "string"
          },
          "usage_assigned_calls": {
            "title": "Usage Assigned Calls",
            "type": "integer"
          },
          "usage_remaining_calls": {
            "title": "Usage Remaining Calls",
            "type": "integer"
          },
          "historical_days": {
            "title": "Historical Days",
            "type": "integer"
          }
        }
      },
      "ValidationError": {
        "title": "ValidationError",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "type": "object",
        "properties": {
          "loc": {
            "title": "Location",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "title": "Message",
            "type": "string"
          },
          "type": {
            "title": "Error Type",
            "type": "string"
          }
        }
      },
      "dto__responses__AuthorSearchResponse__ArticleResult": {
        "title": "ArticleResult",
        "required": [
          "title",
          "link",
          "domain_url",
          "full_domain_url",
          "extraction_data",
          "rank",
          "content",
          "id",
          "score"
        ],
        "type": "object",
        "properties": {
          "title": {
            "title": "Title",
            "type": "string"
          },
          "description": {
            "title": "Description",
            "type": "string"
          },
          "author": {
            "title": "Author",
            "type": "string"
          },
          "authors": {
            "title": "Authors",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "journalists": {
            "title": "Journalists",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "published_date": {
            "title": "Published Date",
            "type": "string"
          },
          "published_date_precision": {
            "title": "Published Date Precision",
            "type": "string"
          },
          "updated_date": {
            "title": "Updated Date",
            "type": "string"
          },
          "updated_date_precision": {
            "title": "Updated Date Precision",
            "type": "string"
          },
          "parse_date": {
            "title": "Parse Date",
            "type": "string"
          },
          "link": {
            "title": "Link",
            "type": "string"
          },
          "domain_url": {
            "title": "Domain Url",
            "type": "string"
          },
          "full_domain_url": {
            "title": "Full Domain Url",
            "type": "string"
          },
          "name_source": {
            "title": "Name Source",
            "type": "string"
          },
          "is_headline": {
            "title": "Is Headline",
            "type": "string"
          },
          "paid_content": {
            "title": "Paid Content",
            "type": "boolean"
          },
          "extraction_data": {
            "title": "Extraction Data",
            "type": "string"
          },
          "country": {
            "title": "Country",
            "type": "string"
          },
          "rights": {
            "title": "Rights",
            "type": "string"
          },
          "rank": {
            "title": "Rank",
            "type": "integer"
          },
          "media": {
            "title": "Media",
            "type": "string"
          },
          "language": {
            "title": "Language",
            "type": "string"
          },
          "content": {
            "title": "Content",
            "type": "string"
          },
          "word_count": {
            "title": "Word Count",
            "type": "integer",
            "default": 0
          },
          "is_opinion": {
            "title": "Is Opinion",
            "type": "boolean"
          },
          "twitter_account": {
            "title": "Twitter Account",
            "type": "string"
          },
          "all_links": {
            "title": "All Links",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "default": [
            ]
          },
          "all_domain_links": {
            "title": "All Domain Links",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "default": [
            ]
          },
          "nlp": {
            "title": "Nlp",
            "type": "object",
            "default": {
            }
          },
          "id": {
            "title": "Id",
            "type": "string"
          },
          "score": {
            "title": "Score",
            "type": "number"
          }
        }
      },
      "dto__responses__AuthorSearchResponse__FailedSearchResponse": {
        "title": "FailedSearchResponse",
        "required": [
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "No Matches for your search"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer",
            "default": 0
          },
          "page": {
            "title": "Page",
            "type": "integer",
            "default": 0
          },
          "total_pages": {
            "title": "Total Pages",
            "type": "integer",
            "default": 0
          },
          "page_size": {
            "title": "Page Size",
            "type": "integer",
            "default": 0
          },
          "articles": {
            "title": "Articles",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dto__responses__AuthorSearchResponse__ArticleResult"
            },
            "default": [
            ]
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "dto__responses__AuthorSearchResponse__SearchResponse": {
        "title": "SearchResponse",
        "required": [
          "total_hits",
          "page",
          "total_pages",
          "page_size",
          "articles",
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "ok"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "type": "integer"
          },
          "total_pages": {
            "title": "Total Pages",
            "type": "integer"
          },
          "page_size": {
            "title": "Page Size",
            "type": "integer"
          },
          "articles": {
            "title": "Articles",
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "dto__responses__MoreLikeThisResponse__ArticleResult": {
        "title": "ArticleResult",
        "required": [
          "title",
          "link",
          "domain_url",
          "full_domain_url",
          "extraction_data",
          "rank",
          "content",
          "id",
          "score"
        ],
        "type": "object",
        "properties": {
          "title": {
            "title": "Title",
            "type": "string"
          },
          "description": {
            "title": "Description",
            "type": "string"
          },
          "author": {
            "title": "Author",
            "type": "string"
          },
          "authors": {
            "title": "Authors",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "journalists": {
            "title": "Journalists",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "published_date": {
            "title": "Published Date",
            "type": "string"
          },
          "published_date_precision": {
            "title": "Published Date Precision",
            "type": "string"
          },
          "updated_date": {
            "title": "Updated Date",
            "type": "string"
          },
          "updated_date_precision": {
            "title": "Updated Date Precision",
            "type": "string"
          },
          "parse_date": {
            "title": "Parse Date",
            "type": "string"
          },
          "link": {
            "title": "Link",
            "type": "string"
          },
          "domain_url": {
            "title": "Domain Url",
            "type": "string"
          },
          "full_domain_url": {
            "title": "Full Domain Url",
            "type": "string"
          },
          "name_source": {
            "title": "Name Source",
            "type": "string"
          },
          "is_headline": {
            "title": "Is Headline",
            "type": "string"
          },
          "paid_content": {
            "title": "Paid Content",
            "type": "boolean"
          },
          "extraction_data": {
            "title": "Extraction Data",
            "type": "string"
          },
          "country": {
            "title": "Country",
            "type": "string"
          },
          "rights": {
            "title": "Rights",
            "type": "string"
          },
          "rank": {
            "title": "Rank",
            "type": "integer"
          },
          "media": {
            "title": "Media",
            "type": "string"
          },
          "language": {
            "title": "Language",
            "type": "string"
          },
          "content": {
            "title": "Content",
            "type": "string"
          },
          "word_count": {
            "title": "Word Count",
            "type": "integer",
            "default": 0
          },
          "is_opinion": {
            "title": "Is Opinion",
            "type": "boolean"
          },
          "twitter_account": {
            "title": "Twitter Account",
            "type": "string"
          },
          "all_links": {
            "title": "All Links",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "default": [
            ]
          },
          "all_domain_links": {
            "title": "All Domain Links",
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ],
            "default": [
            ]
          },
          "nlp": {
            "title": "Nlp",
            "type": "object",
            "default": {
            }
          },
          "id": {
            "title": "Id",
            "type": "string"
          },
          "score": {
            "title": "Score",
            "type": "number"
          },
          "similar_documents": {
            "title": "Similar Documents",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimilarDocument"
            },
            "default": [
            ]
          }
        }
      },
      "dto__responses__MoreLikeThisResponse__FailedSearchResponse": {
        "title": "FailedSearchResponse",
        "required": [
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "No Matches for your search"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer",
            "default": 0
          },
          "page": {
            "title": "Page",
            "type": "integer",
            "default": 0
          },
          "total_pages": {
            "title": "Total Pages",
            "type": "integer",
            "default": 0
          },
          "page_size": {
            "title": "Page Size",
            "type": "integer",
            "default": 0
          },
          "articles": {
            "title": "Articles",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dto__responses__MoreLikeThisResponse__ArticleResult"
            },
            "default": [
            ]
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "dto__responses__MoreLikeThisResponse__SearchResponse": {
        "title": "SearchResponse",
        "required": [
          "total_hits",
          "page",
          "total_pages",
          "page_size",
          "articles",
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "ok"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer"
          },
          "page": {
            "title": "Page",
            "type": "integer"
          },
          "total_pages": {
            "title": "Total Pages",
            "type": "integer"
          },
          "page_size": {
            "title": "Page Size",
            "type": "integer"
          },
          "articles": {
            "title": "Articles",
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "user_input": {
            "title": "User Input",
            "type": "object"
          }
        }
      },
      "dto__responses__SearchResponse__SearchResponse": {
        "title": "SearchResponse",
        "required": [
          "total_hits",
          "page",
          "total_pages",
          "page_size",
          "articles",
          "user_input"
        ],
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "default": "ok"
          },
          "total_hits": {
            "title": "Total Hits",
            "type": "integer"
          },
          "page": {
            "title": "Page",
[...]
